<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @author.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @author.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>Thumbnails:</strong>
  <%= @author.thumbnails %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
